<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lchnan7.modules.mapper.ArchivesMapper">

<select id="selectListInfo" resultType="com.lchnan7.modules.entity.Archives">
select `s`.*,so.sort_name, u.real_name,u.image_url as user_image_url from `archives` s   left join `sort` so on s.sort_id = so.id
   left join `user` u on s.user_id = u.id
   where 1=1
   <if test="id !=null">
       and `s`.id = #{id}
   </if>
    <if test="title !=null">
        and  s.title like concat('%',#{title},'%')
    </if>
    <if test="sortId !=null">
        and s.sort_id = #{sortId}
    </if>
    <if test="address !=null">
        and  s.address like concat('%',#{address},'%')
    </if>
    <if test="isBanner !=null">
        and s.is_banner = #{isBanner}
    </if>
    <if test="userId !=null">
        and s.user_id = #{userId}
    </if>
    <if test="type !=null">
        and s.type = #{type}
    </if>
    <if test="sortName !=null">
        and so.sort_name like concat('%',#{sortName},'%')
    </if>
  <if test="realName !=null">
        and u.real_name like concat('%',#{realName},'%')
    </if>
    order by s.create_time desc
        </select>


</mapper>