<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lchnan7.modules.mapper.CollectMapper">

<select id="selectListInfo" resultType="com.lchnan7.modules.entity.Collect">
select `c`.*,u.real_name, s.title,s.image_url from `collect` c   left join `user` u on c.user_id = u.id
   left join `archives` s on c.archives_id = s.id
   where 1=1
   <if test="id !=null">
       and `c`.id = #{id}
   </if>
    <if test="userId !=null">
        and c.user_id = #{userId}
    </if>
    <if test="realName !=null">
        and u.real_name like concat('%',#{realName},'%')
    </if>
            <if test="title !=null">
        and s.title like concat('%',#{title},'%')
    </if>
        </select>


</mapper>